POSTGRES_PASSWORD="postgres"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/run_ranking"

STRAVA_CLIENT_ID=""
STRAVA_CLIENT_SECRET=""
STRAVA_VERIFY_TOKEN="STRAVA"
STRAVA_SUBSCRIPTION_ID=""

CRON_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# $ openssl rand -hex 32
TOKEN_ENCRYPTION_KEY=""
